<!DOCTYPE html>
<html>
  <head>
    <title>A book?</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <a href="<%= @request_token.authorize_url %>" >Login with Goodreads</a>

    <div id="app"/>

    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/bundle.js"></script>
  </body>
</html>
