body {
  background-color: rgb(205, 185, 231);
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.display-box {
  border: .2em solid black;
  padding: 2em;
  width: 35em;
  min-height: 15em;
  margin: 5em auto;
  max-width: 40em;
  text-align: center;
}

.marquee {
  border: .2em solid black;
  width: 80%;
  margin: 5em auto;
  height: 25em;
  overflow-x: auto;
  white-space: nowrap;
}

p {
  padding: 1em;
  text-align: center;
}

.book-element {
  display: inline-block;
  width: 25em;
}
